.container {
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(135deg, #f9f9f9, #bec1c3);
  height: calc(100% - 44px);
}
.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 36px;
  text-align: center;
}
.text {
  margin-top: 24px;
  font-size: 16px;
  color: #555;
  line-height: 1.5;
  text-align: center;
}
.link {
  margin-left: 6px;
  text-decoration: none;
  cursor: pointer;
}
